body {
    position: relative;
    height: 100vh;
    overflow: auto;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/pink-planet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 40%;
}

.body-page {
    background:
                url("../img/kid_VR.png") right bottom no-repeat fixed,
                url("../img/blue-moon.png") 50% 40% no-repeat fixed;
    background-size: 430px 350px, cover;
}

header {
    width: 100%;
    max-width: 1366px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.page-header-index {
    margin-bottom: 153px;
}

.page-header-product {
    margin-bottom: 76px;
}

.page-header-nav {
    width: 100%;
    max-width: 1238px;
    margin:0 auto 8px auto;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.logo {
    min-width: 193px;
    height: 28px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    background: url(../img/logo.svg) no-repeat 0 50%;
}
.logo:hover{
    background: url(../img/logo-green.svg) no-repeat 0 50%;
}
.logo:hover a {
    color: #0DD1A2;
}

.logo {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
}

.nav-images {
    width:100%;
    max-width: 619px;
    margin-left: 80px;
    margin-right: 91px;
    position: relative;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
    font-size: 15px;
}


.nav-image a,
.page-header-nav a,
.page-header-nav button {
    color: white;
    text-decoration: none;
    align-self: center;
}

.nav-image{
    position: relative;
}
.nav-image:not(.nav-image:last-of-type){
    margin-right: 34px;
}
.nav-image:not(.nav-image:last-of-type)::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 6px;
    right: -20px;
    background-color: #b0acac;
    border-radius: 50%;
}

.nav-image-product a {
    color: #0DD1A2;
}
.nav-image a:hover{
    color:#0DD1A2;
}
.order {
    min-width: 255px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order-page-header-tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
.order-page-header-tel:hover {
    color: #0DD1A2;
}

.page-header-nav button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 108px;
    height: 34px;
    background-color: rgba(28, 28, 28, 0);
    letter-spacing: 0.03em;
    border: 2px solid #0DD1A2;
    border-radius: 2px;
}

.page-main-index {
    margin-bottom:  20px;
    margin-left: 120px;
    margin-right: 508px;
}

.page-main-index h1 {
    width: 738px;
    font-weight: 400;
    font-size: 96px;
    height: 111px;
    line-height: 110px;
    margin-top: 0;
    margin-bottom: 24px;
}

.page-main-index p {
    width: 494px;
    font-weight: 300;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 71px;
}

.button-group {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.03em;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.button-order,
.button-video {
    color: white;
}

.button-order {
    width: 238px;
    height: 68px;
    background-color: #15B38D;
    display: flex;
    border: #15B38D;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.button-video {
    width: 201px;
    height: 68px;
    background-color: rgba(28, 28, 28, 0);
    border: #15B38D 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-order:hover,
.button-video:hover {
    background-color: #0DD1A2;
    border: #0DD1A2;
}

.page-footer {
    width: 100%;
    max-width: 1366px;;
    position: absolute;
    justify-content: inherit;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    bottom: 20px;
}


.sites-logo-group {
    margin-left: 63px;
    margin-right: 399px;
    width: 76px;
    display: flex;
    justify-content: space-between;
}

.facebook,
.vk {
    width: 32px;
    display: flex;
    justify-content: center;
    align-self: center;
    opacity: 0.7;
}

.facebook:hover,
.vk:hover {
    opacity: 1;
}

.scroll-down {
    top:50%;
    right: 50%;
    padding: 2px 0;
    width: 288px;
    height: 32px;
}

.scroll-down a {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    opacity: 0.64;
}

.scroll-down a:hover {
    opacity: 1;
}

.scroll-down a p {
    font-weight: 400;
    font-size: 11px;
    line-height: 137.88%;
    letter-spacing: 0.12em;
    margin-top: 0;
    margin-bottom: 5px;
}

.popup-display-none {
    display: none;
}
/* Разобрать */
.popup-is-work {
    position: relative;
}
.popup-is-work::after {
    content: "";
    opacity: 0.9;
    background-color: #1C1C1C;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup{
    position: absolute;
    margin: 194px 403px;
    z-index: 2;
}

.popup-form {
    width: 560px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #F3F3F3;
}
.popup-button-close {
    align-self: flex-end;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #F3F3F3;
    border-radius: 3px;
    position: absolute;
}
.popup-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 20px;
    margin-bottom: 0;
}
.popup-input-name, .popup-input-phone {
    width: 400px;
    height: 46px;
    align-self: center;
    background: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 3px;
    padding-left: 21px;
    font-size: 13px;
    font-weight: 400;
    line-height: 130%; 
}
.popup-header {
    width: 265px;
    height: 25px;
    color: #1C1C1C;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    align-self: center;
    margin-top: 60px;
    margin-bottom: 0;
}
.popup-p{
    width: 400px;
    height: 39px;
    color: #1C1C1C;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 130%; 
    align-self: center;
    margin-top: 13px;
    margin-bottom: 0;
}
.popup-button-send {
    width: 125px;
    height: 34px;
    border-radius: 2px;
    border: 2px solid #0DD1A2;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: #1C1C1C;
    margin-top: 39px;
}
.popup-button-send p{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    opacity: 0.4;
}
.popup-button-send p:hover {
    opacity: 1;
}

.what-is-planet {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 591px;
    position: absolute;
    left: 90px;
    top: 150px;
}

.what-is-planet h1 {
    margin-bottom: 57px;
    font-weight: 500;
    font-size: 44px;
    line-height: 51px;
    text-decoration: underline;
    text-decoration-color: #0DD1A2;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    text-underline-offset: 4px;

}
.info-product {
    width: 440px;
    height: 281px;
    margin-top: 0;
    margin-left: 30px;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
}

.gallery {
    position: absolute;
    width: 737px;
    height: 363px;
    bottom: 50px;
    right: 108.18px;
    text-align: end;
}

.gallery h3 {
    width: 192px;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    margin: 0;
    padding: 0;
    top: 229px;
    position: absolute;
}

.main-img {
    margin-top: 15px;
    margin-right: 15.18px;
    position: relative;
    z-index: -1;
}

.gallery::after {
    content: "";
    width: 564px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 0;
    border: 4px solid #0DD1A2;
    z-index: -2;
}

.slide-field {
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 202px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide {
    display: flex;
}

.first-image,
.other-image {
    width: 61px;
    font-size: 18px;
    line-height: 21px;
}

.other-image {
    font-weight: 400;
    color: #ABABAB;
    opacity: 0.87;
}

.slide-to-left,
.slide-to-right {
    width: 60px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-to-right {
    background: url(../img/slide-to-right.svg) no-repeat 50% 50%;
    background-color: #1C1C1C;
}

.slide-to-left {
    background: url(../img/slide-to-left.svg) no-repeat 50% 50%;
    background-color: #1C1C1C;
}

.slide-to-right:hover {
    background-image: url(../img/slide-to-right-green.svg);
}

.slide-to-left:hover {
    background-image: url(../img/slide-to-right-green.svg);
    transform: rotate(180deg);
}
